[submodule "sphinxbase"]
	path = sphinxbase
	url = https://github.com/cmusphinx/sphinxbase.git
[submodule "sphinxtrain"]
	path = sphinxtrain
	url = https://github.com/cmusphinx/sphinxtrain.git
[submodule "pocketsphinx"]
	path = pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx.git
